node_modules
.git
.gitignore
README.md
LICENSE
.vscode
Makefile
helm-charts
.env
.env.*
!.env.example
.editorconfig
.idea
coverage*
.output
.nuxt
.nitro
.cache
.data
dist
public/uploads
docs
docs/**
*.md
!README.md
docker-compose*
stack.env